<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>DFS TEST</title>
<style type="text/css">
    body{
		font-family: "Consolas";
	}
	</style>
</head>
<body>
	
<h1>没什么用处的网页</h1>
<code id="demo">点击下一步 这里会出现一个符号迷宫<br/></code>
<button id="btn" onclick="myFunction()">下一步</button>
<button id="btn2" onclick="func2()">自动</button><br>
<input id="in1" type="text" name="inputSpeed" oninput="value=value.replace(/[^\d]/g,'')">
<button id="btn3" onclick="changeSpeed()">改变速度(ms)</button><br>
<p>'#' : 障碍<br/>'@' : 当前位置<br/>'+' : 经过<br/>'0' : 返回<br/>'S' : 起点<br/>'E' : 终点</p>
<p>Made By w1049</p>
<script>
	var mx = [-1, 1, 0, 0];
	var my = [0, 0, -1, 1];
	var ex = 7;
	var ey = 5;
	var sx = 3;
	var sy = 3;
	var maxSize = 10;
	var hasEnd = 0;
	var vis = Array(maxSize);
	var cant = Array(maxSize);
	var theMap = Array(maxSize);
	var hasBegan = 0;
	var auto = 0;
	var timer;
	var demo = document.getElementById("demo");
	var num = 1;
	var speed = 150;
	for(var i = 0; i < maxSize; i++) {
		vis[i] = Array.apply(null, Array(maxSize)).map(() => 0);
		cant[i] = Array.apply(null, Array(maxSize)).map(() => 0);
		theMap[i] = Array.apply(null, Array(maxSize)).map(() => '.');
	}
	var processMap = new Array();
	function setCant(x, y) {
        cant[x][y] = 1;
        theMap[x][y] = '#';
	}
	function visit(x, y) {
        theMap[x][y] = '+';
	}
	function back(x, y) {
        theMap[x][y] = '0';
	}
	function moveTo(x, y) {
        theMap[x][y] = '@';
	}
	function printMap() {
		var str, res;
		res = ""
		for(var i = 0; i < maxSize; i++) {
			str = theMap[i].join('');
			res = res + str;
			res = res + "<br/>"
		}
		processMap.push(res);
	}
	function dfs(x, y) {
        if(hasEnd == 1)
            return;
        if(x == ex && y == ey) {
            moveTo(x,y);
            printMap();
            hasEnd = 1;
            return;
    	}
        //vis[x][y] = 1;
        //moveTo(x, y);
        //printMap();
        //visit(x, y);
        for(var i = 0; i < 4; i++) {
            var nx = x + mx[i];
            var ny = y + my[i];
            if(hasEnd == 0 && nx >= 0 && nx < maxSize && ny >= 0 && ny < maxSize && cant[nx][ny] == 0 && vis[nx][ny] == 0) {
                vis[nx][ny] = 1;
                moveTo(nx, ny);
                printMap();
                visit(nx, ny);
				dfs(nx, ny);
                if(hasEnd == 0) {
                    back(nx, ny);
                    moveTo(x,y);
                    printMap();
                    visit(x,y);
			    }
		    }
	    }
	}
	setCant(1,2);
	setCant(1,3);
	setCant(1,4);
	setCant(4,2);
	setCant(0,1);
	setCant(2,2);
	setCant(2,1);
	setCant(4,2);
	setCant(4,3);
	setCant(4,4);
	setCant(4,5);
	setCant(6,6);
	setCant(6,4);
	setCant(6,5);
	theMap[sx][sy] = 'S';
	theMap[ex][ey] = 'E';
	printMap();
	demo.innerHTML = processMap[0];
	function func2() {
		if(auto == 0) {
			auto = 1;
			timer = setInterval("myFunction()", speed);
			document.getElementById("btn2").innerHTML = '暂停';
		}else {
			auto = 0;
			window.clearInterval(timer);
			document.getElementById("btn2").innerHTML = '继续';			
		}	
	}
	function changeSpeed(){
		speed = document.getElementById("in1").value;
		if(auto == 1) {
		window.clearInterval(timer);
		timer = setInterval("myFunction()", speed);
		}
	}
	function myFunction() {
		if(hasBegan == 0) {
			dfs(sx, sy);
			hasBegan = 1;
		}
		demo.innerHTML = processMap[num];
		num++;
		if(num >= processMap.length) {
			document.getElementById("btn").disabled = true;
			document.getElementById("btn").innerHTML = '已到达';
			document.getElementById("btn2").disabled = true;
			document.getElementById("btn2").innerHTML = '到达';
			if(auto == 1) {
				window.clearInterval(timer);
			}
		}
	}
	
</script>
	
</body>
</html>